.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: black;
}

h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 5;
    color: white;
}